@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}

.auth_layout{
    background: url(./assets/images/bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .4;
}