@tailwind base;
@tailwind components;
@tailwind utilities;

.auth_layout{
    background: url(./assets/images/bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

button:hover:not(:disabled){
    filter: contrast(150%) brightness(150%);
    transition: 250ms filter;
}